//#*
//# * Copyright (c) 2020 Ryan Cross, Bruce Jones
//# *
//# * SPDX-License-Identifier: MIT
//# *
 
if SHIELD_DACTYL6x6_LEFT

config ZMK_KEYBOARD_NAME
    default "dactyl_left"

config ZMK_SPLIT_BLE_CENTRAL
    default y

endif

if SHIELD_DACTYL6x6_LEFT || SHIELD_DACTYL6x6_RIGHT

    
config ZMK_SPLIT
    default y

endif