# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DACTYL6x6_LEFT
  config ZMK_KEYBOARD_NAME
    default "dactyl_left"

  config ZMK_SPLIT=y
  config ZMK_SPLIT_BLE=y
  config ZMK_SPLIT_BLE_ROLE_CENTRAL=y
endif

if SHIELD_DACTYL6x6_RIGHT
  config ZMK_KEYBOARD_NAME
    default "dactyl_right"

  config ZMK_SPLIT=y
  config ZMK_SPLIT_BLE=y
  config ZMK_SPLIT_BLE_ROLE_PERIPHERAL=y
endif    

